@model CreateProjectFeedModel
@{
    ViewData["Title"] = "CreateProjectFeed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12" style="background:#fff; border-radius: 0 0 10px 10px;">
        <h3 class="ptitle">Create Job</h3>
        <section>
            <form asp-controller="Home" asp-action="CreateProjectFeed" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <div class="col-md-8 col-md-push-2">
                    @foreach (var item in Model.ProjectTypes)
                    {
                        if (item.Id == 1)
                        {
                            <div class="col-md-1 box">
                                <label title="Mitigation">
                                    <img src="~/images/Mitigation.jpg" alt="Mitigation" class="img-thumbnail img-check" />
                                    <input type="radio" asp-for="Type" value="@item.Id" class="hidden" autocomplete="off"> 
                                </label>
                            </div>

                        }
                        else if (item.Id == 2)
                        {

                            <div class="col-md-1 box">
                                <label title="Litigation">
                                    <img src="~/images/Litigation.jpg" alt="Litigation" class="img-thumbnail img-check" />
                                    <input type="radio" asp-for="Type" value="@item.Id" class="hidden" autocomplete="off">
                                </label>
                            </div>
                        }
                        else if (item.Id == 3)
                        {

                            <div class="col-md-1 box">
                                <label title="Adjuster">
                                    <img src="~/images/Adjuster.jpg" alt="Adjuster" class="img-thumbnail img-check" />
                                    <input type="radio" asp-for="Type" value="@item.Id" class="hidden" autocomplete="off">
                                </label>
                            </div>
                        }
                        else if (item.Id == 4)
                        {
                            <div class="col-md-1 box">
                                <label title="Restoration">
                                    <img src="~/images/Restoration.jpg" alt="Restoration" class="img-thumbnail img-check" />
                                    <input type="radio" asp-for="Type" value="@item.Id" class="hidden" autocomplete="off">
                                </label>
                            </div>

                        }
                    }
                        </div>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SkillLevel" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="SkillLevel" class="form-control" />
                        <span asp-validation-for="SkillLevel" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Budget" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Budget" class="form-control" />
                        <span asp-validation-for="Budget" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Details" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Details" class="form-control" />
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-push-2">
                        <button type="submit" class="btn btn-primary">CREATE</button>
                        </div>
                    </div>
</form>
        </section>
    </div>
</div>


