@model ProjectFeedDetailModel
@{
    ViewData["Title"] = "ProjectFeedDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12" style="background:#fff; border-radius: 0 0 10px 10px;">
        <h3 class="ptitle">Project Detail</h3>
        <div class="boxproject">
            <a class="titleproject" href="/Home/ProjectFeedDeatil/@Model.ProjectFeed.Id">@Model.ProjectFeed.Title</a>
            <p class="description">@Model.ProjectFeed.Details</p>
            <p class="description"><b>Posted By: </b>@Model.ProjectFeed.Name <b>on</b> @Model.ProjectFeed.CreatedDate</p>

            <span><b>SkillLevel</b>@Model.ProjectFeed.SkillLevel</span>
            <span><b>Rating</b><i class="glyphicon glyphicon-star"></i> @Model.ProjectFeed.Account.Rating</span>
            <span class="txtgreen"><b>Payment Verified</b><i class="glyphicon glyphicon-usd"></i></span>
            <span class="txtgreen"><b>Account Verified</b><i class="glyphicon glyphicon-ok"></i></span>

            <h3 class="ptitle">Proposals</h3>
            @foreach (var bid in Model.ProjectFeed.Bids)
            {
                <a class="btnview pull-right" href="/Account/Detail/@bid.BidBy/">View Account</a>
                <span>@bid.BidByName</span>
                <span>@bid.BidValue</span>
                <span>@bid.Duration</span>
                <span>@bid.Comment</span>
                <span>@bid.BidDate</span>

                @if (string.IsNullOrEmpty(Model.ProjectFeed.AssignTo))
                {
                    <a class="btnview pull-right" href="/Carrier/Assign/@Model.ProjectFeed.Id/@bid.BidBy/">Award Project</a>
                }

            }


        </div>
    </div>

</div>

<h4>Account Deatils</h4>

<div>@Model.Account.Rating</div>
<div>@Model.Account.IsPaymentVerified Payment Verified</div>
<div>@Model.Account.Name</div>


<h2>Project Feed Detail</h2>

<div>@Model.ProjectFeed.DueDate</div>
<div>@Model.ProjectFeed.Title</div>
<div>@Model.ProjectFeed.Details</div>

    </div>


</div>

