
@model List<ProjectFeedModel>
@{
    ViewData["Title"] = "ProjectFeedList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12" style="background:#fff; border-radius: 0 0 10px 10px;">
        <h3 class="ptitle">Job Listing</h3>
        @if (Model != null)
        {
            for (int i = 0; i < Model.Count(); i++)
            {<div class="boxproject">
                    <a class="titleproject" href="/Home/ProjectFeedDeatil/@Model[i].Id">@Model[i].Title</a>
                    <p class="description">@Model[i].Details</p>
                    <p class="description"><b>Posted By: </b>@Model[i].Name <b>on</b> @Model[i].CreatedDate</p>

                    <span><b>Skill Set Required</b>@Model[i].SkillLevel</span>
                    <span><b>Rating</b><i class="glyphicon glyphicon-star"></i> @Model[i].Account.Rating</span>
                    <span class="txtgreen"><b>Payment Verified</b><i class="glyphicon glyphicon-usd"></i> Yes</span>
                    <span class="txtgreen"><b>Account Verified</b><i class="glyphicon glyphicon-ok"></i> Yes</span>
                    <span class="txtgreen"><b>Budget</b><i class="glyphicon glyphicon-usd"></i> @Model[i].Budget</span>
                    <span class="txtgreen"><b>No. of Bids</b><i class="glyphicon glyphicon-usd"></i> @Model[i].BidCount</span>
                    @if (Model[i].CreatedById == MidWare.Models.LoggedInUser.Id)
                    {
                        <a class="btnview pull-right" href="/Home/ProjectFeedDeatil/@Model[i].Id">View Details</a>
                    }
                    @if (Model[i].Type != 3 && string.IsNullOrEmpty(Model[i].AssignTo) && Model[i].Account.Type != MidWare.Models.LoggedInUser.AccountType)
                    {
                        <a class="btnview pull-right" href="/Bid/Details/@Model[i].Id">Submit Proposal</a>
                    }
                    @if (Model[i].Type == 3 && string.IsNullOrEmpty(Model[i].AssignTo) && Model[i].Account.Type != MidWare.Models.LoggedInUser.AccountType)
                    {
                        <a class="btnview pull-right" href="/Account/Assign/@Model[i].Id/@MidWare.Models.LoggedInUser.Id">Accept</a>
                    }
                    @if (Model[i].AssignTo == MidWare.Models.LoggedInUser.Id)
                    {
                        <a class="btnview pull-right" href="/Home/SubmitReport/@Model[i].Id">Submit Report</a>
                    }
                </div>

            }
        }

    </div>
</div>


